@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imbue:wght@300&display=swap");
/* for quotes */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
#thumbnail-register {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /* background: #003060; */ /* November */
    background: #6e040e;
    /* backdrop-filter: blur(4px);   */
    opacity: 0.8;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.card-register {
    border-radius: 15px;
    padding: 4px;
}




#thumbnail-header-register {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(-45deg, #7bf8c2 0%, #02151b 100%);
    backdrop-filter: blur(4px);
    opacity: 1;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-name: glow; */
    animation-timing-function: ease-in-out;
    background-color: #cce;
    transition: all 0.5s ease;
}

.card-header-register {
    border-radius: 15px;
    padding: 4px;
}

.card-header-register .card-body p {
    font-size: 2.8em;
        font-family: 'Zen Old Mincho', serif;

    letter-spacing: 3px;
    color: #f0f8ff;
    font-weight: 700;
    text-align: center;
}

@keyframes glow {
    0% {
        border-color: rgba(245, 255, 250, 0.5);
        box-shadow: 0 0 16px rgba(72, 209, 204, 0.5);
        opacity: 0.6;
        transition: 2s;
    }
    25% {
        border-color: rgba(245, 255, 250, 0.5);
        box-shadow: 0 0 16px rgba(72, 209, 204, 0.5);
        opacity: 0.7;
        transition: 3s;
    }
    50% {
        border-color: rgba(245, 255, 250, 0.5);
        box-shadow: 0 0 16px rgba(72, 209, 204, 0.5);
        opacity: 0.8;
        transition: 4s;
    }
    75% {
        border-color: rgba(245, 255, 250, 0.5);
        transition: 5s;
        box-shadow: 0 0 16px rgba(72, 209, 204, 0.5);
        opacity: 0.9;
    }
    100% {
        border-color: rgba(245, 255, 250, 1);
        box-shadow: 0 0 16px rgba(72, 209, 204, 1), 0 0 36px rgba(72, 209, 204, 1);
        opacity: 1;
        transition: 3s;
    }
}

.login {
        font-family: 'Zen Old Mincho', serif;

    font-size: 1em;
}

input {
        font-family: 'Zen Old Mincho', serif;

    /* 1 */
    font-size: 100%;
    /* 2 */
    margin: 0;
    /* 3 */
    box-sizing: border-box;
}

label {
    box-sizing: border-box;
    font-family: 'Zen Old Mincho', serif;
    font-size: 1em;
    letter-spacing: 2px;
    color: #fff;
}

.form-input {
    align-content: center;
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 90%;
    /* background-color: white; */
    height: calc(3em + 2px);
    padding: 1em;
    font-size: 1em;
    border: 1px solid #fff;
    border-radius: 0.3em;
    transition: all 0.2s ease-out;
    box-shadow: none;
    border: none  !important;
    resize: none;
    outline: none;
    justify-content: center;
    color: #fff;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="number"]:hover {
    border: 1px solid #cccccc;
}

input[type="password"]:focus, input[type="password"]:active, input[type="text"]:focus, input[type="text"]:active, input[type="number"]:focus, input[type="number"]:active {
    border: 1px solid #fff;
    width: 100%;
}

input[type="password"]:focus+label:before, input[type="password"]:active+label:before input[type="text"]:focus+label:before, input[type="text"]:active+label:before, input[type="number"]:focus+label:before, input[type="number"]:active+label:before {
    color: #fff;
}

input[type="password"]+label, input[type="text"]+label, input[type="number"]+label {
    display: block;
    font-size: 0.8em;
    height: 3em;
    line-height: 3em;
    margin-top: calc(-3.8em + 4px);
    margin-bottom: 1em;
    pointer-events: none;
}

input[type="password"]+label:before, input[type="text"]+label:before, input[type="number"]+label:before {
    content: attr(placeholder);
    display: inline-block;
    color: #fff; /* text color input */
    margin: 0 calc(1em + 2px);
    white-space: nowrap;
    transition-property: color, -webkit-transform;
    transition-property: transform, color;
    transition-property: transform, color, -webkit-transform;
    transition-duration: 0.2s;
    transition-delay: 0;
    transition-timing-function: ease-out;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

input[type="password"]:focus+label:before, input[type="password"].active+label:before, input[type="password"]:valid+label:before, input[type="text"]:focus+label:before, input[type="text"].active+label:before, input[type="text"]:valid+label:before, input[type="number"]:focus+label:before, input[type="number"].active+label:before, input[type="number"]:valid+label:before {
    background: white;
    line-height: 1;
    padding: 0 1.5px;
    -webkit-transform: translateY(calc(-3.6em / 2 - 1px / 2)) scale(0.9, 0.9);
    transform: translateY(calc(-3.6em / 2 - 1px / 2)) scale(0.9, 0.9);
}

/* for valid input */

input[type="password"]:valid, input[type="text"]:valid, input[type="number"]:valid {
    border: 1px solid #fff;
}

input[type="password"]:valid+label:before, input[type="text"]:valid+label:before, input[type="number"]:valid+label:before {
    content: attr(alt);
    color: #fff;
}

label.lable-custom {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 650;
}

.form__group-checkbox {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 45%;
    margin-bottom: 5px;
}

/*Checkboxes styles*/

input[type="checkbox"] {
    display: none;
    border-radius: 1.5em;
    transition: all 0.2s ease-out;
    box-shadow: none;
    /* margin-top: 50px; */
    resize: none;
    outline: none;
    justify-content: center;
}

input[type="checkbox"]+label {
    /* display: block; */
    position: relative;
    padding-left: 23px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font: 1em 'PT Sans Narrow', sans-serif;
    /* color: black; */
    color: #fff; /* warna label checkbox */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff; /* wana kotak checkbox sebelum di ceklis */
    position: absolute;
    left: 0;
    top: 4px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: 0px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border: 3.5px solid #fff; /* wana kotak checkbox setelah di ceklis */
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

button.btn-custom { 
    width: 100px;
    height: 50px;
    color: #1b1202; /* warna tulisan button */
    background-color: white;
    border: 2px solid #1b1202; /* sisi luar kotak tombol submit */
    border-radius: 4px;
    font-weight: 900;
    font-family: 'Zen Old Mincho', serif;

}

button.btn-custom:hover {
    background-color: #C4DBE0;
    color: white;
}

.btn-custom-sendiri {
    width: 100px;               
    height: 40px;
    background: rgb(221, 52, 52);
    border: 3px solid rgb(221, 52, 52);
    text-align: center;
    font-size: 1.3em;
    color: #eee;
    float: right;
    margin-right: 55px;
    /* border-style: solid; */
}

/* .btn-custom-sendiri:hover {
    width: 250px;
    height: 50px;
    background: rgba(216, 199, 100, 0.87);
    border: 2px solid #C4DBE0;
    text-align: center;
    color: #C4DBE0;
    font-weight: 800;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: glow-operator;
    animation-timing-function: ease-in-out;
    background-color: #cce;
    transition: all 0.5s ease;
} */

.title-form {
    font-size: 1.8em;
    color: #fff; /* warna teks judul form */
    font-weight: 800;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 25px;
    border: 2px solid #e74949af; /* warna sisi luar kotak form  */
    background: #e74949af; /* background judul form */
    /* margin-top: -50px; */
    font-family: 'Zen Old Mincho', serif;
    text-transform: capitalize;
}

.divider {
    height: 6px;
    border-radius: 10px;
    width: 50%;
    /* display: flex; */
    margin-top: -10px;
    /* background-color: rgb(74, 176, 194); */
    background-color: #C4DBE0;
}

.message-error {
    font-size: 0.8em;
    color: rgb(255, 22, 22);
    font-style: oblique;
    font-weight: 600;
}

.invalid-input {
    border-bottom: solid 2px red !important;
    color: red;
}

.timer-responsive-2 {
    display: none;
}

.img-crew {
    width: 90%;
    border-radius: 10px;
}

.custom-bg-alert{
    background: #e74949af; /* background warna timer batas waktu */
    border: 2px solid #e74949af;
    color: white !important;
    width: 50%;
    height: 40px;
    text-align: center;
    bottom: 20px;
    font-family: 'Zen Old Mincho', serif !important;
    /* bottom: 20px; */
}

.hasVaccinated{
    margin-top: 10px;
}

@media(max-width: 750px){
    #daysOne, #hoursOne, #minutesOne, #secondsOne{
        font-size: 15px !important;
    }
    .custom-bg-alert{
        width: 90%;
    }
}

@media (max-width: 510px) {
    .title-form {
        margin-top: 25px;
        /* border: none; */
        /* background: transparent; */
        font-size: 1.5em;
        padding-bottom: 5px;
    }
    
    hr{
        display: none;
    }
    
    .hasVaccinated{
        margin-top: 40px;
    }
    
    .custom-bg-alert{
        width: 90%;
    }
    .form__group-checkbox {
        width: 100%;
        margin-top: -30px;
        margin-bottom: 0px;
    }
    .form__label {
        font-size: 1rem;
    }
    .form__group-checkbox.atas {
        margin-top: 5px;
    }
    .timer-responsive-1 {
        display: none;
    }
    .timer-responsive-2 {
        display: block;
    }
    .img-crew {
        width: 100%;
    }
    input[type="text"], input[type="password"], input[type="number"] {
        width: 100%;
    }
    
    .btn-custom-sendiri{
        margin-top: 20px;
        float: none;
        margin-right: 0px;
        font-family: 'Zen Old Mincho', serif;
        
    }
}

@media (max-width: 450px){
    .title-form{
        font-size: 1.25em;
    }
    .countdown-left{
        font-size: 14px !important;
        width: 100%;
    }
    .custom-bg-alert{
        width: 100%;
    }
    #daysOne, #hoursOne, #minutesOne, #secondsOne{
        font-size: 13px !important;
    }
    input[type="text"], input[type="password"], input[type="number"]{
        font-size: 0.9em;
    }
}
@media (max-width: 350px){

}



.alert-notif{
    animation: blink-animation 2s steps(5, start) infinite;
    color: #fff; /* warna teks alert notif batas waktu */
    font-family: 'Zen Old Mincho', serif;
}

@keyframes blink-animation {
    to {
    visibility: hidden;
    }
}
.countdown-left{
    text-align: center;
    position: relative;
    bottom: 9px;
    font-size: 18px !important;
}
.customRadio input[type="radio"] {
    position: absolute;
    left: -9999px
}

.customRadio input[type="radio"]+label {
    position: relative;
    padding: 0px 20px 0 30px;
    margin-left: -10px;
    top: -10px;
    cursor: pointer;
    color: #C4DBE0;
}

.customRadio input[type="radio"]+label.radioYes{
    padding: 0px 20px 15px 25px;
}

.customRadio input[type="radio"].radioNo+label{
    padding: 0px 20px 10px 25px;
}

.customRadio input[type="radio"]+label:before {
    content: '';
    background: #fff;
    border: 2px solid #FDB750;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0
}



.customRadio input[type="radio"]+label:after {
    content: '';
    background: #FDB750;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 4.9px;
    left: 5px;
    opacity: 0;
    transform: scale(1.2);
    transition: transform 0.3s linear, opacity 0.3s linear
}

.customRadio input[type="radio"].custom-radio-btn+label:after{
    background: #fc2e20;
}

.customRadio input[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1)
}

.label-custom{
    color: #fff; /* warna label field input */
}

/* Input */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 0px;
    width: 85%;
  }
  
.form__field {
    font-family: 'Zen Old Mincho', serif;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e36868;
    outline: 0;
    font-size: 1rem;
    color: #C3E0E5;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

}
.form__field::placeholder{
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label{
    font-size: 1rem;
    cursor: text;
    top: 20px;
}
  
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff; /* label text input */
}

.form__field:focus{
    padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #fff);
  border-image-slice: 1;
  width: 100%;
}

.form__field:focus ~ .form__label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
    font-weight:700;
}

.form__field:required, .form__field:invalid{
    box-shadow: none;
}

/* End of Input */

body {
    /* background: linear-gradient(
		135deg,
		#e6d72a -1.22%,
		#98dbc6 86.79%
	); */
    /* background: linear-gradient( 135deg, #98dbc6 -1.22%, #5bc8ac 86.79%);
    */
    /*     font-family: 'Zen Old Mincho', serif;
 */
    /* background: #010100; */
    background: #b31315;
}

html{
}